.container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .card {
        margin-top: 2rem;
        margin-bottom: 5rem;
        display: flex;
        margin: 2rem;
        width: 17rem;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        border: 1px solid #ccc;

        .meta {
            display: flex;
            justify-content: space-between;
            padding: 5px;
        }

        .card__icons {
            background: #fff;
            display: flex;
            padding: 3px;
            justify-content: space-between;
        }
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5psx;
            margin-top: 10px;
            background-position: center;
            background-size: cover;
            height: 16rem;
            position: relative;
            top: -10px;
        }

        .card__icons .icon {
            width: 2rem;
            cursor: pointer;
        }
    }
}

@media (max-width:650px) {
    .container{
        margin: 2px;
    }
}
